# Default ignored files
/shelf/
/workspace.xml
/misc.xml
# Datasource local storage ignored files
/../../../../../../:\Users\matte\IdeaProjects\shippingsystem2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
